@model ministers_of_sweden.web.ViewModels.MinisterDetailModel
    
      <div> Namn: @Model.Name </div>
      <div> Gender: @Model.Sex </div>
      <div> Academics: @Model.AcademicField </div>
      <div> Gender: @Model.Sex </div>
      <div> Gender: @Model.Sex </div>
      <div> Gender: @Model.Sex </div>
