@model IList<ministers_of_sweden.web.ViewModels.IndexViewModel>

<section class="page">
    <h1 class="page-title">Swedish Ministers</h1>

    <div class="gallery-wrapper">
        @foreach (var minister in Model)
        {
            <div class="gallery-card">
                <div>@minister.Id: @minister.Name 
                <img src="@minister.ImageUrl" alt="@minister.Name">

                <div><span>@minister.Name</span><span> @minister.Type</span></div>
                   
                <div class="buttons-container">
                <a class="btn btn-dark" asp-action="details" asp-controller="ministers" asp-route-id="@minister.Id">Minister Details</a>
                    <a class="btn btn-dark" asp-action="delete" asp-controller="ministers" asp-route-id="@minister.Id">Delete Minister</a>
                    <a class="btn btn-warning" asp-action="add" asp-controller="ministers"
                    asp-route-id="@minister.Id">Add Minsiter</a>

                </div>
                </div>
                
           
                
                </div>
        }