@model IList<ministers_of_sweden.web.ViewModels.IndexViewModel>

<section class="page">
    <h1 class="page-title">Swedish Ministers</h1>

    <div class="gallery-wrapper">
        @foreach (var minister in Model)
        {
            <div class="gallery-card">
                <div>@minister.Id: @minister.Name 
                    Type of Minister: @minister.Type
                   
                </div>
                
                <img src="@minister.ImageUrl" alt="@minister.ImageUrl">
                
                </div>
        }